table{
	border:1px solid black;
}
td, th, tr{
	border:1px solid black;
}
.data1{
	width:330px;
	height:200px;
}
.row1{
	text-align:center;
}
.tab1{
	width:330px;
}
.data2{
	height:100px;
}

/* Your CSS Code here. */